@page "/add_album"
@rendermode InteractiveAuto
@using Models

<h3>Add Your Own Album</h3>
@if(isReady){
    <EditForm FormName="Album"  Model="_model" OnSubmit="Confirm">
        <div>
            Title
            <InputText id="title" @bind-Value="_model.Title" />
            Artist
            <InputText id="artist" @bind-Value="_model.Artist" />
            Year_Released
            <InputText id="releaseYear" @bind-Value="_model.Year_released" />
            <button type="submit">
                Submit Changes and Add Songs
            </button>
        </div>
    </EditForm>
}
else{
    <button @onclick="()=>">
        Go Back to Album
    </button>
        <div>
            SongTitle
            <InputText @bind-Value="song"/>

            <button>
                Submit Changes and Add Song
            </button>
        </div>
    @if(_model.Songs !=null){
        <button @onclick="()=>Remove_Last_Song()">
            Remove Previous Song
        </button>
    }
    @if (_model.Songs != null)
    {
        <button @onclick="()=>SubmitAlbum()">
            Submit Entire Album
        </button>
    }

}

@code {
    [SupplyParameterFromForm]
    private UserAlbum? _model { get; set; }
    private string song { get; set; }
    private bool isReady { get; set; }
    private Album _album { get; set; } = new Album();

    public class UserAlbum
    {
        public string Title { get; set; } = "";
        public string Artist { get; set; } = "";
        public string Year_released { get; set; } = "";
        public Stack<string> Songs { get; set; } = new Stack<string>();

        // public override string ToString()
        // {
        //     return Title.ToString() + " " + Artist.ToString() + " " + Year_released.ToString() + " " + Songs.ToString();
        // }

    }

    protected override void OnInitialized()
    {
        _model ??= new();
    }

    private async Task FlipIsReady()
    {

    }



    private async Task Confirm(){
        if (!int.TryParse(_model.Year_released, out int result)) return;
        else if (_model.Title == "" || _model.Artist == "") return;
        else{
            _album.Title = _model.Title;
            _album.Artist = _model.Artist;
            _album.Year_released = result;
            await Task.Run(() => isReady = true);
            Console.WriteLine("Hit the Confirmation");
            
        }

    }
    private async Task Add_Song()
    {
        if (song == "") return;
        await Task.Run(()=>_model!.Songs.Push(song));

    }
    private async Task Remove_Last_Song()
    {
        await Task.Run(()=>_model!.Songs.Pop());

    }

    private async Task SubmitAlbum()
    {
        if (_model!.Songs.Count !=0){
            _album.Songs = _model.Songs.ToList();
        }
        await Task.Run(()=>Console.WriteLine(_album.ToString()));

    } 
}
