<h3>NavMenu</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="albums">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Albums Summmary
    </NavLink>
    <NavLink class="nav-link" href="add_album">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Your Own!
    </NavLink>
    
</div>

@code {

}
