@using Models
<h3>AlbumDetails</h3>

<form action="" >
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>

@code {
    [Parameter]
    public Album Album { get; set; } = new Album();
}
